.header{
    font-family: "Lexend", sans-serif;
    font-size: 18px;
    margin-left: 5%;
    margin-bottom: 0;
}

.header2{
    font-family: "Lexend", sans-serif;
    font-size: 25px;
    margin-left: 5%;
    margin-top: 0%;
    color: #29ABE1;
}