<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Class Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="header">Class</h1>
  <h1 class="header2">Schedule</h1>

  <ion-card class="pdf-card">
    <ion-card-header>
      <ion-card-title>SYP Schedule</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="pdf-container">
        <iframe
          src="assets/SYP.pdf#toolbar=0&navpanes=0&scrollbar=1&view=FitH"
          width="100%"
          height="500px"
          frameborder="0"
          scrolling="yes"
        ></iframe>
        <a href="assets/SYP.pdf" class="download-link" target="_blank">
          <ion-icon name="download-outline"></ion-icon>
          Download PDF
        </a>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="pdf-card">
    <ion-card-header>
      <ion-card-title>FAYP Schedule</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="pdf-container">
        <iframe
          src="assets/FAYP.pdf#toolbar=0&navpanes=0&scrollbar=1&view=FitH"
          width="100%"
          height="500px"
          frameborder="0"
          scrolling="yes"
        ></iframe>
        <a href="assets/FAYP.pdf" class="download-link" target="_blank">
          <ion-icon name="download-outline"></ion-icon>
          Download PDF
        </a>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
