@import url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");

ion-content{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;

}

.mainFab::part(native){
    background-color: black;
    opacity: 0.5;
    box-shadow: 1px 1px 5px black;
}

.secondaryFab::part(native){
    color: darkblue;
}

ion-card{
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 85%;
    margin-left: 0;
    transform: translate(-50%, -50%);
    background-color: white;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 50%;
}

ion-item{
    
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    
}

ion-content::part(background){
    background-image: url("../../assets/bg.png");
    background-position: 35% 65%;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    opacity: 1;
}

ion-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #29ABE1;
    border-radius: 25px;
    width: 90%;
}