ion-tab-button:hover{
    color: darkblue;

    ion-icon{
        transform:scale(1.25);
        z-index: 1;
    }
}

ion-tab-bar{
    box-shadow: 3px 3px 10px black;
    height: 60px;
    width: 100%;
    align-self: center;
}

