<ion-content [fullscreen]="true" class="ion-padding">
  <h1 class="header">Admin</h1>
  <h1 class="header2">Dashboard</h1>
  <ion-card class="dashboard-card" (click)="goToManageStudents()">
    <ion-card-content class="ion-text-center">
      <ion-icon name="people" class="dashboard-icon"></ion-icon>
      <h2>Manage Students</h2>
    </ion-card-content>
  </ion-card>

  <ion-card class="dashboard-card" (click)="goToManageTeachers()">
    <ion-card-content class="ion-text-center">
      <ion-icon name="school" class="dashboard-icon"></ion-icon>
      <h2>Manage Teachers</h2>
    </ion-card-content>
  </ion-card>

  <ion-card class="dashboard-card" (click)="goToManageAnnouncements()">
    <ion-card-content class="ion-text-center">
      <ion-icon name="megaphone" class="dashboard-icon"></ion-icon>
      <h2>Manage Announcements</h2>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="danger" (click)="goTo('signout')" class="logout-button">
    <ion-icon name="log-out-outline" slot="start"></ion-icon>
    Logout
  </ion-button>
</ion-content>
